* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
}

.h1 {
  text-align: center;
  margin: 3rem;
  font-family: "Open Sans", sans-serif;
}

.h2 {
  text-align: center;
  margin: 1rem;
  font-family: "Roboto", sans-serif;
}


.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem; /* espacio entre tarjetas */
    justify-content: center; /* centra horizontalmente */
  }

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  text-align: center;
  width: 300px;
}

.card-title {
  font-size: 1.5rem;
}   

.card-text {
  text-align: left;
  font-size: 1.2rem;
}

@media (max-width: 480px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }

  .h1 {
    margin: 2rem;
    font-family: "Open Sans", sans-serif;
  }
  
  .h2 {
    margin: 1.5rem;
    font-family: "Roboto", sans-serif;
  }
}

/* Ajuste de tama침os para m칩viles m치s peque침os */
@media (max-width: 480px) {
  .card-title {
    font-size: 1.2rem;
  }

  .card-text {
    font-size: 1rem;
  }
}



